/* style.css */
body{
  background: rgb(245,245,245);
  color: rgb(70,71,116);
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
h1{

  color: black;
  font-weight: lighter;
  font-size: 12px;
}
h2 {

  color: blue;
  font-weight: lighter;
  font-size: 14px;
}
a {
  color: purple;
}
a:hover {
  text-decoration: none;
  color: black;
}